//@theme "~/.config/rofi/catppuccin-default.rasi"
//@theme "/usr/share/rofi/themes/sidebar.rasi"
//@theme "/usr/share/rofi/themes/dmenu.rasi"

configuration {
	font: "FiraCode Nerd Font 10";
}


//@theme "/usr/share/rofi/themes/DarkBlue.rasi"

@theme "/usr/share/rofi/themes/dmenu.rasi"
